.header {
    height: 62px;
    width: 100%;
    border-bottom: solid 1px #f0f0f0;
}
.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbar .logo {
    font-size: 35px;
    margin-right: 50px;
}
.avatar {
    display: flex;
    align-items: center;
}